env/

# custom LM
model/

# dataset and data
dataset/
data/

# Enviroment
healthy_env/

# Key
API_KEY.txt

# etc
notebook/
model/

__pycache__/
.ipynb_checkpoints/

early_word.txt
nama.txt

helper.py
speed_score_tradeoff.py
store_code.py
translate_to_english.py
translate_to_english.py